{% load static %}
<style>
    .big {
        color: #e8912a;
        font-size: xx-large;
        font-weight: bold;
    }

    .bank {
        font-weight: bold;
    }

    .back {
        background-color: black;
        color: white;
        border-top-right-radius: 50px
    }

    .number {
        font-weight: bold;
        letter-spacing: 2px;
    }
</style>

<div class="card" style="margin: 10px 30px 10px 30px; border-radius: 20px">
    <div class="back card-header" style="border-top-left-radius: 20px; border-top-right-radius: 20px">
        <div class="row justify-content-center align-items-center text-center" >
            <div class="col-6">
                Ödəniş məbləği:
            </div>

            <div class="col-6 big">
         {{ payment.amount }} ₼
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row bank">
            <span class="title">{{ payment.pay_requisite.card.card_bank }}</span>
        </div>
                <div class="row">
            <span class="title">CARD NUMBER</span>
        </div>
        <div class="row">
            <span id="card_num" class="number">
                {{ payment.pay_requisite.card.card_number|slice:":4" }}
                {{ payment.pay_requisite.card.card_number|slice:"4:8" }}
                {{ payment.pay_requisite.card.card_number|slice:"8:12" }}
                {{ payment.pay_requisite.card.card_number|slice:"12:" }}
            <img onclick="CopyToClipboard('card_num')" style="opacity: 1; background-color: #198653" class="img-thumbnail" width="32" height="32" src="{% static '/img/copy.png' %}"></span>
        </div>


        <div class="row">
            <span class="exp">Data {{ payment.pay_requisite.card.expired_month }}/{{ payment.pay_requisite.card.expired_year }}</span>
        </div>
        <div class="row">
            <span class="name">{{ payment.pay_requisite.card.owner_name|default_if_none:'' }}</span>
        </div>

    </div>
</div>

<script>
  function CopyToClipboard(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert("Номер скопирован")
  }
}
</script>