{% extends 'base.html' %}
{% block title %}Оплата
{% endblock %}
{% block content %}
{% load static %}
<style>
    * {
    font-family: "Arial";
    font-size: medium;
}
    .big {
        color: #e8912a;
        font-size: xx-large;
        font-weight: bold;
    }
    .back {
    background-color: black;
    color: white;
    border-top-right-radius: 50px
    }

    .m10 {
        color: #11cca7;
        font-weight: bold;
        font-size: x-large;
    }
    .m10link {
        font-weight: bold;
        font-size: x-large;
    }

</style>

<div class="container margin: auto" style="max-width: 400px;">
  <div class="card" style="margin-top: 10px">
    <div class="card-header">
      <div class="row justify-content-center align-items-center">
          {% if request.META.HTTP_HOST != 'pro-pay-sphero.com' %}
          <div class="col-3">
              <img class="mx-auto d-flex justify-content-center" src="/static/img/AsuPay125.png" height="100%" width="100%">
          </div>
          {% endif %}
          <div class="col-9" style="font-weight: bold; font-size: small">
              Qeyd olunmuş vaxt ərzində dəqiq məbləği ödəyin, əgər məbləğ fərqlidirsə, ödəniş avtomatik keçməyəcək.  {# совершите оплату точной суммы в течении указанного времени, если сумма будет другая, платеж не пройдёт автоматически. #}
          </div>
      </div>

    </div>
    <div class="row">
      {% include 'includes/timer_horizontal.html' %}
    </div>

    <div class="row ">
      <div class="">
        <div class="card" style="margin: 10px 10px 10px 10px; border-radius: 20px">
            <div class="back card-header" style="border-top-left-radius: 20px; border-top-right-radius: 20px">
                <div class="row justify-content-center align-items-center text-center" >
                    <div class="col-6">
                        Ödəniş məbləği:
                    </div>

                    <div class="col-6 big">
                        {{ payment.amount }} ₼
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="row align-items-center justify-content-center ">
                        <div class="col-12 " id="pay_input" style=" width: 100%">
                            <div class="row justify-content-center" style="text-align: center; white-space: nowrap; ">
                                <div class="col-12">
                                    <span class="m10">M10</span>
                                </div>

                                <span class="row align-items-center justify-content-left">
                                    <div class="col-9">{{ payment.pay_requisite.info|safe }}</div>
                                    <div class="col-3"><img align="middle" onclick="CopyToClipboard('m10data')" style=" opacity: 1; background-color: #198653; display: block; margin: auto 20px; width: 75%" class="img-thumbnail"  src="{% static '/img/copy.png' %}"></div>
                                </span>
                                <div class="col-12">{{ payment.pay_requisite.info2|safe }}</div>


                            </div>
                            <div class="row  justify-content-center " style="">
                            <div class="col-12">
                            <form method="POST" enctype="multipart/form-data" style="width:100%; height:100%; padding: 1px; margin: 10px ">
                              {% csrf_token %}
                                {% for field in form %}
                                <div class="row align-items-center justify-content-center">
                                    {% if field.name != 'phone' %}
                                    {{field}}
                                    {% else %}

                                        <div class="col-12 " style="text-align: center; color: darkgray; font-size: small">Köçürməni etdiyiniz M10 nömrənizi qeyd edin</div>
                                        <div class="col-12 align-items-center justify-content-center ">{{field.errors}}</div>
                                    <div class="col-3" style="text-align: right">+994</div><div class="col-7">{{field}}</div>

                                    {% endif %}
                                </div>
                                {% endfor %}

                                <div class="col  align-items-center" style="text-align: center; margin-top: 30px">
                                  <button style="margin-bottom: 20px; margin-top: 0px; width:50%" id="confirm_btn" class="btn btn-success btn btn-block" type="submit">Ödədim</button>
                                </div>
                            </form>
                            </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>
      </div>
    </div>



    <div class="row justify-content-center align-items-center text-center">
        <div class="col" style="display: none" id="time_exp_info1">Vaxt bitdi</div> {# Время вышло #}
    </div>

 </div>
</div>



<script>
  function CopyToClipboard(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
  }
}
</script>

{% endblock %}