{% extends 'base.html' %}
{% block title %}Меню{% endblock %}

{% block content %}
{% include 'includes/header.html' %}


    <div class="container">
        <div class="row">
           {% if user.is_staff %}
              <a class="nav-link" href="{% url 'payment:payment_list' %}">Пополнения</a>
           {% endif %}
           {% if user.role == 'merchant' %}
            <div class="col-3">
            <a class="" href="{% url 'payment:merchant_orders' %}">Заказы</a><br>
            </div>
            <div class="col-3">
            Баланс: {{ request.user.balance }}
            </div>
           {% endif %}
        </div>
    </div>


    {% if user.role == 'merchant' %}
        <div class="container">
            <div class="row">
                    <a class="" href="{% url 'payment:create_merchant' %}">Создать Merchant</a><br>
            </div>
        </div>

        <div class="container flex">

         {% for merchant in merchants %}
            <div class="card">
                <div class="card-header">
                        {{ merchant.id }}. {{ merchant.name }}
                </div>
                <div class="card-body">
                    <div class="row">
                        Количество: {{ merchant.payments.count }}
                    </div>
                </div>
                <div class="card-footer">
                   <div class="row">
                      <div class="col-3">
                        <a class="" href="{% url 'payment:merchant_detail' merchant.id %}">Подробно</a>
                      </div>
                      {% if merchant.payments.count == 0 %}
                      <div class="col-3">
                        <a class="" href="{% url 'payment:merchant_delete' merchant.id %}">Удалить</a>
                      </div>
                      {% endif %}
                    </div>
                </div>
            </div>
         {% endfor %}
       </div>



    {% endif %}
{% endblock %}

