{% extends 'base.html' %}
{% block title %}Меню{% endblock %}

{% block content %}
{% include 'includes/header.html' %}


    <div class="container">
        <div class="row">
            <div class="col-4">
            Баланс: {{ request.user.balance }} ₼
            </div>
            {% if user.is_superuser %}
            <a class="" href="{% url 'payment:merch_owner_list' %}">Список мерчей</a>
            {% endif %}
           {% if user.is_staff %}
               <a class="" href="{% url 'payment:support_options' %}">Операторы на смене</a>
               <div>
                   <a class="" href="{% url 'payment:payment_list' %}">Заявки payment</a>  <a href="{% url 'payment:export_payments' %}">(Экспорт)</a>
               </div>
                <a class="" href="{% url 'payment:withdraw_list' %}">Заявки на Выводы withdraw</a>
            <hr>
             <a class="" href="{% url 'deposit:incomings' %}">Пополнения смс incomings</a>
             <a class="" href="{% url 'deposit:trash' %}">Смс мусор incomings </a>
           {% endif %}
           {% if user.role == 'merchant' %}
               <div><a class="" href="{% url 'payment:merchant_orders' %}">merchant_orders</a> <a href="{% url 'payment:export_payments' %}">(Экспорт)</a></div>
            <a class="" href="{% url 'payment:withdraw_list' %}">Заявки на Выводы withdraw</a>
           {% endif %}
             <a class="" href="{% url 'payment:balance_list' %}">Изменения баланса</a><br>
        </div>
    </div>

    {% if user.role == 'merchant' %}
        <div class="container">
            <div class="row">
                    <a class="" href="{% url 'payment:create_merchant' %}">Создать Merchant</a><br>
            </div>
        </div>

        <div class="container flex">

         {% for merchant in merchants %}
            <div class="card">
                <div class="card-header">
                        {{ merchant.id }}. {{ merchant.name }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <b>Статистика:</b><br>
                        Confirmed count: {{ merchant.payments.count }}<br>
                        Total confirmed amount: {{merchant.stat.total_sum}} ₼
                    </div>
                </div>
                <div class="card-footer">
                   <div class="row">
                      <div class="col-3">
                        <a class="" href="{% url 'payment:merchant_detail' merchant.id %}">Редактировать</a>
                      </div>
                      {% if merchant.payments.count == 0 %}
                      <div class="col-3">
                        <a class="" href="{% url 'payment:merchant_delete' merchant.id %}">Удалить (Только пустые)</a>
                      </div>
                      {% endif %}
                    </div>
                </div>
            </div>
         {% endfor %}
       </div>



    {% endif %}
{% endblock %}

