{% extends 'base.html' %}
{% block title %}Мерч{% endblock %}
{% block content %}
{% include 'includes/user_menu.html' %}
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        {{ object }}
        <form method="POST">
            {% csrf_token %}
            {% include 'includes/form_fields.html' %}
            <div class="col">
            Выбранные помощники:<br>
                {% for viewer in  viewers_user %}
                    {{ viewer }}<br>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-warning btn-sm">Save</button>
            <a href="{% url 'payment:menu' %}" class="btn btn-info btn-sm">Cancel</a>
        </form>
<hr>
          <p>Test webhook. Send random data and correct signature</p>
          <form method="POST" action="{% url 'payment:merchant_test_webhook' %}">
            {% csrf_token %}
            <div class="col"  style="padding: 5px">
            <button name='payment_accept' value='{{ form.instance.id }}' type="submit" class="btn btn-warning btn-sm">Test Accept Webhook</button>
            <button name='payment_decline' value = '{{ form.instance.id }}' type="submit" class="btn btn-warning btn-sm">Test Decline Webhook</button>
            </div>
            <div class="col"  style="padding: 5px">
                <button name='withdraw_accept' value='{{ form.instance.id }}' type="submit" class="btn btn-warning btn-sm">Test Withdraw Accept Webhook</button>
            <button name='withdraw_decline' value='{{ form.instance.id }}' type="submit" class="btn btn-warning btn-sm">Test Withdraw Decline Webhook</button>
            </div>
        </form>
      </div>
     </div>
  </div>

{% endblock %}

