{% extends 'base.html' %}
{% block title %}Список заказов{% endblock %}


{% block content %}
     <div class="container ">
    {% include 'includes/user_menu.html' %}
    <div class="row">
      <form method="get">
        {{ filter.form.as_p }}
          <button type="submit">Filter</button>
      </form>
    </div>
<!--{{filter.qs}}-->
     {% include 'includes/paginator.html' %}

     <table id="table" class="table table-bordered table-hover table-sm" style="font-size: 14px; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
     <thead class="">
     <tr class="">
         <th>order_id</th>
         <th>id</th>

           <th>crated</th>
           <th>Merchant</th>
           <th>Amount</th>
           <th>Status</th>
           <th>Confirmed<br>amount</th>
           <th>T подтв</th>

       </tr>
     </thead>
     <tbody style="text-align: end" >
         {% for payment in object_list %}
         <tr title="{{ payment.id }}" id="payment{{ payment.short_id }}"
                 {% if payment.status == -1 %}
                    class="table-secondary"
                 {% elif payment.confirmed_time%}
                     class="table-success"
                 {% endif %}>
           <td>{{ payment.order_id }}
            <td>{{ payment.id }}</td>
            <td>{{ payment.create_at|date:"Y.d.m H:i" }}</td>
            <td>{{ payment.merchant.name}}</td>
              <td>{{ payment.amount }}</td>
              <td style="white-space: nowrap">{{ payment.status_str }}</td>
            <td>{{ payment.confirmed_time|default_if_none:"-"  }}</td>

         </tr>
         {% endfor %}

     </tbody>
   </table>
            {% include 'includes/paginator.html' %}
   </div>




{% endblock %}
