{% extends 'base.html' %}
{% block title %}Список владельцев-мерчей{% endblock %}


{% block content %}
<style>


</style>
{% load filters %}
{% include 'includes/operator_menu.html' %}
<div class="container">
 {% include 'includes/paginator.html' %}
   <div class="container">
     <table class="table table-bordered">
       <thead class="">
            <tr class="" style="text-align: center">
                <th>Мерч</th>
                <th>Баланс AZN</th>
                <th>Баланс BDT</th>
                <th>Ссылка</th>
                <th>Итого</th>
                <th>Сутки</th>
            </tr>
       </thead>
          <tbody style="text-align: start" >
          <div>Общий баланс: {{total_balance}}</div>
             {% for obj in page_obj %}
                <tr class="text-center">
                    <td>{{obj}}</td>
                    <td>{{obj.balance}}</td>
                    <td>{{obj.bdt_balance}}</td>
                    <td><a href="{% url 'payment:merch_owner_detail' obj.id%}">Изменить баланс/выплата</a></td>
                    <td style="">{{ obj.total }}</td>
                    <td style="">{{ result.day_1|default_if_none:""|get_value_from_dict:obj.username|default_if_none:"" }}</td>


                 </tr>
             {% endfor %}
          </tbody>
     </table>
   </div>


   {% include 'includes/paginator.html' %}

</div>

{% endblock %}
