{% extends 'base.html' %}
{% block title %}Подробно о payment{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
  <div class="container">
    <div class="row justify-content-start ">
      <div class="col col-md-auto">
        <table class="table table-bordered table-sm" style="font-size: medium">
        <thead class="thead-dark align-content-center">
           <tr>
               <th>Поле</th>
               <th>Значение</th>
           </tr>
        </thead>
        <tbody>

            <tr>
                <td>id</td>
                <td><a href="{%  url 'payment:show_log' payment.id %}">{{ payment.id }}</a>

                </td>
            </tr>
            <tr>
                <td>Поступил</td>
                <td>{{ payment.create_at|date:"d.m.Y H:i:s" }}</td>
            </tr>
            <tr>
                <td>merchant</td>
                <td>{{ payment.merchant }}</td>
            </tr>
            <tr>
                <td>order_id</td>
                <td>{{ payment.order_id }}</td>
            </tr>
            <tr>
                <td>user_login</td>
                <td>{{ payment.user_login|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>Сумма заявки</td>
                <td>{{ payment.amount }} {{ payment.currency }}</td>
            </tr>
            <tr>
                <td>Валюта</td>
                <td>{{ payment.currency.code }}</td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>{{ payment.phone }}</td>
            </tr>
            <tr>
                <td>pay_requisite</td>
                <td>{{ payment.pay_requisite|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>Привязанный платеж</td>
                <td>{{ payment.confirmed_incoming|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>Подтвержденная сумма</td>
                <td>{{ payment.confirmed_amount|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>Подтверждено</td>
                <td>{{ payment.confirmed_time|date:"d.m.Y H:i:s" }}</td>
            </tr>
            <tr>
                <td>Подтверждено опером</td>
                <td>{{ payment.confirmed_user|default_if_none:""  }}</td>
            </tr>
            <tr>
                <td>Изменено</td>
                <td>{{ payment.change_time|date:"d.m.Y H:i:s"  }}</td>
            </tr>

            <tr>
                <td>source</td>
                <td>{{ payment.source }}</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>{{ payment.status_str }}</td>
            </tr>
            <tr>
                <td>response_status_code</td>
                <td>{{ payment.response_status_code|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>mask</td>
                <td>{{ payment.mask|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>comission</td>
                <td>{{ payment.comission }}</td>
            </tr>
            <tr>
                <td>work_operator</td>
                <td>{{ payment.work_operator|default_if_none:"" }}</td>
            </tr>

            <tr>
                <td>bank</td>
                <td>{{ payment.bank|default_if_none:"" }}</td>
            </tr>
            <tr>
                <td>work_operator</td>
                <td>{{ payment.work_operator|default_if_none:"" }}</td>
            </tr>
        {{ payment.card_data }}


        </tbody>
        </table>

      </div>

      <div class="col col-md-6">
          {% if payment.screenshot %}
        <img class="img" style="object-fit: cover; object-position: 0 0" src="/media/{{payment.screenshot}}" width="300" height="400">
          {% endif %}

      </div>
    </div>
    <div class="row">
    <div class="col-auto">
      <table class="table table-bordered table-sm" style="font-size: medium">
        <thead class="thead-dark align-content-center">
           <tr>
               <th>Поле</th>
               <th>Значение</th>
           </tr>
        </thead>
        <tbody>
          {% for log in payment.logs.all %}
            <tr>
                <td>{{ log.create_at|date:"d.m.Y H:i:s" }} ({{ log.user }}) </td>
                <td></td>
            </tr>
              {% for k, v in log.loads.items %}
                  <tr>
                    <td  style="text-align: end">{{ k }}</td>
                <td>{{ v }}</td>
                  </tr>
                  {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>




    <div class="row justify-content-start  col-md-6">
        <div class="col-6">
        <br><b>Ручная корректировка:</b>
        <form method="POST">
            {% csrf_token %}
              {% include 'includes/form_fields.html' %}
            <input type="submit" value="Сохранить">
        </form>
        </div>

    </div>
  <br><hr>
    <div class="col-6">
            <form method="POST" action="{%  url 'payment:repeat_webhook' payment.id %}">
            {% csrf_token %}
            <input type="submit" value="Повторно отправить Вэбхук">
            </form>
    </div>

    <span>
        <hr>
          {% for log in history %}
             {{ log.time }} {{ log.user }} {{ log.val_name }} {{ log.new_val }}<br>
          {% endfor %}
    </span>
  </div>



{% endblock %}