
{% extends 'base.html' %}
{% block title %}Список заявок{% endblock %}
{% load static %}

{% block content %}
<style>

    .new_count {
        background-color: #e44d26;
    }

</style>
{% include 'includes/operator_menu.html' %}
<div class="container-fluid">

  <div class="container">
      <form method="get">
        <div class="row">

            {% for field in form  %}
                <div class="col-auto">
                <b>{{ field.label_tag }}</b><br>{{ field }}
                </div>
            {% endfor %}
            <div class="row">

            <button class="btn btn-info btn-light" type="submit">Фильтровать ({{stat.sum}} azn {{stat.count}} шт.)</button>
            </div>
        </div>
    </form>
  </div>

       <p hidden id="html_count">{{ html_count }}</p>
    <div class="row">
        <div class="col-3" role="alert" id="warnings">
           Новых платежей:
        </div>
        <div class="col-3">

        </div>
        <div class="col-3">
            <a href="{% url 'payment:on_work' %}" >Смена старт/стоп</a>
        </div>
        <div class="col-3">
            <a href="{{ summary_url }}">summary</a>
        </div>
    </div>

     {% include 'includes/paginator.html' %}
     <div class="container-fluid ">
     <table id="table" class="table table-bordered table-hover table-sm" style="font-size: 14px; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
     <thead class="">
     <tr class="" style="text-align: center">
           <th>id</th>
           <th>create time</th>
           <th>Merchant</th>
           <th>Type</th>
           <th>Bank</th>
           <th>Mask</th>
           <th>O</th>
           <th>User</th>
           <th>Owner</th>
           <th>Сумм</th>
           <th>Статус</th>
           <th>Подтв.<br>Сумм</th>
           <th>T подтв</th>
           <th>T изм</th>
           <th>Подтв. Сумм</th>
         <th>id платежа</th>
       </tr>
     </thead>
     <tbody style="text-align: end" >
         {% for payment in page_obj %}
         <tr id="payment{{ payment.short_id }}"
                 {% if payment.status == -1 %}
                    class="table-secondary"
                 {% elif payment.confirmed_time%}
                     class="table-success"
                 {% endif %}>

            <td><a class="changelink" href="{% url 'payment:payment_edit' payment.id %}">{{ payment.short_id }}</a>
                {% if payment.comment %}
                  *
                {% endif %}
                {% if payment.wrong_webhook %}
                  <br><span>🚷</span>
                {% endif %}

            </td>
            <td>{{ payment.create_at|date:"d.m H:i" }}</td>
            <td>{{ payment.merchant.name}}{% if payment.merchant.is_new %}🍼{% endif %}</td>
            <td>{{ payment.pay_type}} ({{ payment.counter|default_if_none:"" }})</td>
            <td>{{ payment.bank_name|default_if_none:""}}
                {% if payment.card_number is None or payment.card_number == '' %}
                    -
                    {% elif payment.luna_check == True %}
                    ✅
                    {% else %}
                    ❓
                {% endif %}

             <td>{{ payment.mask|default_if_none:"" }}</td>
             <td>{{ payment.work_operator|default_if_none:""}} {% if payment.work_operator.profile.is_bot == True %}🤖{% endif %}</td>
             <td><a href="{% url 'payment:payments_stats' %}?user_login={{ payment.user_login }}&merchant__owner={{ payment.merchant.owner.id }}">{{ payment.user_login|default_if_none:""}}</a></td>
            <td>{{ payment.owner_name|default_if_none:""}}</td>
            {% if payment.screenshot %}
              <td><a target="_blank" href="/media/{{ payment.screenshot }}">{{ payment.amount }}</a></td>
            {% else %}
              <td>{{ payment.amount }}</td>
            {% endif %}
            <form method="post" action=''>
            {% csrf_token %}
              <td style="white-space: nowrap">{{ payment.status }}

              {% if  payment.status == 3 or payment.status == 6 and payment.pay_type == 'card_2' %}
                  {% if payment.pay_type == 'card_2' %}<a href="http://localhost:3000/?payment_id={{payment.id}}&amount={{ payment.amount }}&{{ payment.card_data_url }}&{{ payment.phone_script_data_url }}" target="_blank">🚀</a>{% endif %}
                  {% if payment.card_data %}
                    <a href="{% url 'payment:payment_input' payment.id %}" target="_blank" id="card_number{{payment.id}}">{{ payment.card_number }}<img onclick="CopyToClipboard('card_number{{payment.id}}')" style="opacity: 0.5;"class="img-thumbnail" width="25" height="25" src="{% static '/img/copy.png' %}"></a>
                    <br>{{payment.bank_name}} {{ payment.expired_month }}/{{payment.expired_year}} {{ payment.cvv}}
                    <span id="sms_code{{payment.id}}"
                    {% if payment.sms_code %} style="background-color: #11e834" {% endif %}>
                    {{ payment.sms_code|default_if_none:'----'}}<img onclick="CopyToClipboard('sms_code{{payment.id}}')" style="opacity: 0.5;"class="img-thumbnail" width="25" height="25" src="{% static '/img/copy.png' %}"></span>
                  {% endif %}
              {% endif %}

              </td>


            <td>{{ payment.confirmed_amount|default_if_none:""  }}</td>

             <td>{% if payment.confirmed_time %}
                 {{ payment.confirmed_time|date:"H:i"|default_if_none:""  }}
                 {% elif payment.status != -1 %}
                     <button name="cancel_payment" value="{{ payment.id }}" style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-danger btn-sm">X</button>
                 {% endif %}
             </td>
            </form>
             <td>{{ payment.change_time|date:"H:i" }}</td>

            {% load l10n %}
            {% localize off %}
            <form action="" method="post">
            {% csrf_token %}
                <td title="">


                <input type="text"
                       {% if payment.confirmed_amount %}
                       value="{{ payment.confirmed_amount }}"
                       {% elif payment.status == -1 %}
                       value=""
                       {% else %}
                       value="{{ payment.amount }}"
                       {% endif %}
                       name="confirm_amount_value:{{ payment.id }}"
                       size="5">

            </td>

            <td class="text-nowrap">
                    <input type="text"
                           {% if payment.link_incoming.id > 0 %}
                            value="{{payment.link_incoming.id}}"
                            {% else %}
                            value="{{payment.confirmed_incoming.id}}"
                           {% endif %}
                               name="confirmed_incoming_id_value:{{ payment.id }}"
                           size="7">
                    {% if payment.status == 9 or payment.status == -1 %}
                      <button disabled name="payment_id:{{ payment.id }}" type="submit" class="btn btn-warning btn-sm">---</button>
                     {% else %}
                        <button name="payment_id:{{ payment.id }}" type="submit" class="btn btn-warning btn-sm">OK</button>
                     {% endif %}


            </td>
            </form>

            {% endlocalize %}


         </tr>
         {% endfor %}

     </tbody>
   </table>
   </div>
   {% include 'includes/paginator.html' %}

</div>
<div class="container">
  <div class="row">
    <form method="post">
      {% csrf_token %}
        <div class="col-9 d-grid mx-auto">
            <button name="export" class="btn btn-info btn-light" type="submit">Экспорт</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

function playSound() {
  const audio = new Audio();
  audio.src = "{% static '/icq-notification-sound.mp3' %}"
  return audio.play();
}
                function getPosts() {
            $.ajax({
                url: '{{count_url|safe}}',
                type: 'get',
                dataType: 'json',
                data: {},
                success: function(response) {

                        var html_count = $('#html_count').text().replace(/\D/g, '')
                        var new_count = response.new_count
                        var count = new_count - html_count
                        var div = $('#warnings')
                        div.html(`Новых платежей: ${count} / ${new_count}`);
                        if (count >= 1) {
                            div.addClass("new_count");
                        }
                }
            });
        }
        getPosts();
        setInterval(getPosts, 5000)
    </script>

    <script>
function CopyToClipboard(containerid) {
    if (window.getSelection) {
        if (window.getSelection().empty) { // Chrome
            window.getSelection().empty();
        } else if (window.getSelection().removeAllRanges) { // Firefox
            window.getSelection().removeAllRanges();
        }
    } else if (document.selection) { // IE?
        document.selection.empty();
    }

    if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
    } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        document.execCommand("copy");
    }
}
</script>
{% endblock %}

