{% extends 'base.html' %}
{% block title %}Ожидание реквизитов{% endblock %}
{% block content %}

<div class="container"></div>
    <div class="row ">
        <div class="row" style="text-align: center">

                <b style= "color: #937800">Ожидайте реквизитов</b></p> {# Ожидает подтверждения #}
                              <div class="text-center">
                  <p class="aligncenter"><img class="img-thumbnail" src="/static/img/wait.gif" width="50" ></p>
            </div>

      </div>
</div>


{% endblock %}

