{% extends 'base.html' %}
{% block title %}Список заявок{% endblock %}


{% block content %}
<style>


</style>

{% include 'includes/user_menu.html' %}
<div class="container-fluid ">

  <div class="container">
      <form method="get">
        <div class="row">

            {% for field in filter.form  %}
                <div class="col-auto">
                <b>{{ field.label_tag }}</b><br>{{ field }}
                </div>
            {% endfor %}
            <div class="row">

            <button class="btn btn-info btn-light" type="submit">Фильтровать</button>
            </div>
        </div>
    </form>
  </div>

     {% include 'includes/paginator.html' %}
     <div class="container-fluid ">
     <table id="table" class="table table-bordered table-hover table-sm" style="font-size: 14px; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
     <thead class="">
     <tr class="" style="text-align: center">
           <th>id</th>
         <th>withdraw_id</th>
           <th>create time</th>
           <th>Merchant</th>
           <th>Сумм</th>
            <th>Комисс</th>
           <th>Статус</th>
           <th>T подтв</th>
         <th>Баланс текущий</th>
         <th>Баланс до</th>
         <th>Баланс после</th>
         <th>response</th>
         <th>comment</th>
       </tr>
     </thead>
     <tbody style="text-align: end" >
         {% for withdraw in page_obj %}
         <tr title="{{ withdraw.id }}" id="withdraw{{ withdraw.short_id }}"
                 {% if withdraw.status == -1 %}
                    class="table-secondary"
                 {% elif withdraw.confirmed_time%}
                     class="table-success"
                 {% endif %}>
         <td>{{ withdraw.withdraw_id}}</td>
            <td>{% if user.is_staff %}
                <a class="changelink" href="{% url 'payment:withdraw_edit' withdraw.id %}">{{ withdraw.id }}</a>
                {% else %}
                {{ withdraw.id }}
                {% endif %}
            </td>
            <td>{{ withdraw.create_at|date:"d.m H:i" }}</td>
            <td>{{ withdraw.merchant.name}}</td>
             <td>{{ withdraw.amount}}</td>
            <td>{{ withdraw.comission}}</td>
             <td>{{ withdraw.status}}</td>


            <td>{{ withdraw.confirmed_time|default_if_none:"-"  }}</td>
            <td>{{ withdraw.balance|default_if_none:""   }}</td>
            <td>{{ withdraw.balance_before   }}</td>
            <td>{{ withdraw.balance_after   }}</td>
            <td>{{ withdraw.response_status_code|default_if_none:""   }}</td>
            <td>{{ withdraw.comment|default_if_none:""   }}</td>

         </tr>
         {% endfor %}

     </tbody>
   </table>
   </div>
   {% include 'includes/paginator.html' %}
<div class="container">
  <div class="row">
    <form method="post">
      {% csrf_token %}
        <div class="col-9 d-grid mx-auto">
            <button class="btn btn-info btn-light" type="submit">Экспорт</button>
        </div>
    </form>
  </div>
</div>


</div>

{% endblock %}
