{% extends 'base.html' %}
{% block title %}Настройки
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-6">
    <form method="POST">
       {% csrf_token %}
       {% include 'includes/form_fields.html' %}
       <input type="submit" value="Сохранить">
   </form>
  </div>
  <div class="col-6">
  <br>
    За последние сутки:<br>
    {% for u in last_day %}
       {{ u.username }}: {{ u.step_count }} ({{ u.step_sum }} azn)<br>
    {% endfor %}
  </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        Статистика 2:00 - 2:00. 1) 02:00-10:00 2) 10:00-18:00 3) 18:00-02:00
    </div>
    <div class="card-body">
      <div class="row">
          <div class="col-4">
            {{ html|safe }}
          </div>
          <div class="col-4">
            {{ html2|safe }}
          </div>
          <div class="col-4">
              {% for oper, calc in opers_work_calc.items %}
                {{ oper }}
                  {% for day, duration in calc.items %}
                      {{ day }}: {{ duration }}
                {% endfor %}
              {% endfor %}
          </div>
      </div>
    </div>
</div>

{% endblock %}