{% load l10n %}
{% localize off %}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="">
  <ul class="pagination">
    {% load spurl %}
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="{% spurl query=request.GET set_query='page=1'%}"><<</a></li>
      <li class="page-item">
        <a class="page-link" href="{% spurl query=request.GET set_query='page={{ page_obj.previous_page_number }}'%}">
          <
        </a>
      </li>

        {% else %}

          <li class="page-item">
        <a class="page-link" href="">
          --
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">
          -
        </a>
      </li>

    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <span class="page-link">{{ i }}</span>
          </li>

        {% elif i >= page_obj.number|add:-5 and i <= page_obj.number|add:5  %}
          <li class="page-item">
            <a class="page-link" href="{% spurl query=request.GET set_query='page={{ i }}'%}">{{ i }}</a>
          </li>

        {% elif i == page_obj.number|add:-10 or i == page_obj.number|add:10  %}
          <li class="page-item">
            <a class="page-link" href="{% spurl query=request.GET set_query='page={{ i }}'%}">{{ i }}</a>
        {% elif i == page_obj.number|add:-50 or i == page_obj.number|add:50  %}
          <li class="page-item">
            <a class="page-link" href="{% spurl query=request.GET set_query='page={{ i }}'%}">{{ i }}</a>
          </li>
        {% elif i == page_obj.number|add:-100 or i == page_obj.number|add:100  %}
          <li class="page-item">
            <a class="page-link" href="{% spurl query=request.GET set_query='page={{ i }}'%}">{{ i }}</a>
          </li>
        {% elif i == page_obj.number|add:-500 or i == page_obj.number|add:500  %}
          <li class="page-item">
            <a class="page-link" href="{% spurl query=request.GET set_query='page={{ i }}'%}">{{ i }}</a>
          </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">

        <a class="page-link" href="{% spurl query=request.GET set_query='page={{ page_obj.next_page_number }}'%}">
          >
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% spurl query=request.GET set_query='page={{ page_obj.paginator.num_pages }}'%}">
          >>
        </a>
      </li>
    {% else %}

          <li class="page-item">
        <a class="page-link" href="">
          -
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="">
          --
        </a>
      </li>

    {% endif %}
  </ul>
</nav>
{% endif %}
{% endlocalize %}